<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" hreg="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div class='main-content'>
        {{>header}}
        <p> This site uses <a href="mapbox.com">mapbox.com</a>  for geocoding and <a href="weatherstack.com">weatherstack.com</a> for weather information.</p>
        <img class="portrait" src="img/shubham.jpeg">
    </div>

    {{>footer}}
</body>

</html>